@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,600;0,800;1,600&display=swap');

:root {
  --body-font: 'Roboto', sans-serif;
  --heading-font: 'Playfair Display', serif;
  --base-font-size: 2.0rem; /* rem */
  --type-scale: 1.200;
  /* 
   * Type Scales: https://type-scale.com/
   * 1.250 - Major Third
   * 1.200 - Minor Third
   * 1.125 - Major Second
   * 1.067 - Minor Second
   */
  --color-teal: rgb(105, 210, 194);
  --section-divide: 8rem;

}

/* Typography */
html {
  font-size: 62.5%;
  font-family: var(--body-font);
}
body {
  font-size: var(--base-font-size);
  margin: 0;
  padding: 0;
}
a, div, strong, p, q, span {
  font-size: var(--base-font-size);
}
h1,h2,h3,h4,h5,h6 {
  font-family: var(--heading-font);
}
h1, .h1 {
  color: #fff;
  font-size: 6rem;  /* In order to create more contrast between H1 and H2, given that H1 is part of a large hero image area and needs more emphasis, will go up scale by one value (6.0 instead of 4.8). This maintains overall scale while providing the emphasis we need on H1. */
  font-weight: 300;
  letter-spacing: -0.1rem;
  line-height: 1.2;
  margin: 6.4rem 0 0.2rem 0; /* Top spacing is based on layout aesthetic needs. 4x line-height in this example. */
  padding: 1.6rem;
}
h2, .h2 {
  font-size: 4.0rem; 
  font-weight: 400;
  letter-spacing: -0.1rem;
  line-height: 1.2;
  margin: var(--section-divide) 0 0.2rem 1.6rem; /* Top spacing is 2x a regular line-height (1.6rem) in flow content, but may differ at the start of a section. */ 
}
h3, .h3{
  font-size: 3.2rem;
  font-weight: 400;
  letter-spacing: -0.005rem;
  line-height: 1.2;
  margin: 3.2rem 0 0.2rem 1.6rem;
}
h4, .h4 {
  font-size: 3.2rem;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1.2;
  margin: 3.2rem 0 0.2rem 1.6rem;
}
ol li, ul li {
  margin: 0 0 0.4rem 0;
}
p {
  font-size: var(--base-font-size);
  line-height: 1.6;
  margin: 1.6rem 0 1.6rem 1.6rem;
  max-width: 75rem;
}
p a {
  color: #000;
  font-weight: 300;
}
p a:hover {
  color: var(--color-teal);
}

p.cta-footer {
  margin-bottom: 8rem; 
  margin-top: 8rem;
}
p.cta-footer::before {
  background-color: var(--color-teal);
  content: "";
  display: block;
  height: 0.3rem;
  width: 7.2rem;
}
/* !Typography */

/* Layout */
body {
  display:grid; 
  gap: 1.6rem;
  grid-template-columns: auto 8.8rem repeat(4, minmax(1px, 24rem)) 8.8rem auto;
}

aside {
  grid-column: 6 / 7; /* Placement on body grid */

  margin-top: calc(var(--section-divide) / 2);
}
aside .social-icons {
  list-style: none;
  margin: 0;
  padding: 0 1.6rem; 
}
aside .social-icons li {
  margin: 0 0 0.8rem ;
}
aside .social-icons li a {
  background-color: var(--color-teal);
  border-radius: 50%;
  display: block;
  font-size: 2.0rem;
  height: 4rem;
  line-height: 4rem;
  text-align: center;
  width: 4rem;
}
  aside .social-icons li a:hover {
    background-color: #000;
  }
    aside .social-icons li a i {
      color: #fff;
      line-height: 1;
    }

article#mainbody {
  grid-column: 3 / 6; /* Placement on body grid */
}

footer {
  grid-column: 1 / -1; /* Placement on body grid */

  background-color: black; 
  display:grid; 
  gap: 1.6rem;
  grid-template-columns: auto 8.8rem repeat(4, minmax(1px, 24rem)) 8.8rem auto;
}

header {
  grid-column: 1 / -1; /* Placement on body grid */

  background-color: #000;
  background-image: url(https://images.carriechattersonstudio.com/spai/w_1920+q_glossy+ret_img/https://carriechattersonstudio.com/wp-content/uploads/2020/07/insights-banner-economic-downturn.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display:grid; 
  gap: 1.6rem;
  grid-template-columns: auto 8.8rem repeat(4, minmax(1px, 24rem)) 8.8rem auto;
  height: 60rem;
  width: 100%;
}
  header:before {
    
  }
  header .header-logo {
    grid-column: 2;
    height: 8.8rem;
    margin-top: 4.4rem;
    width: 8.8rem;
    z-index: 10;
  }

  header #header-nav {
    background-color: rgb(105 210 194);
    height: 17.6rem;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    transform: translateY(-100%);
    width: 100%; 
    z-index: 1;
  }
    header #header-nav.hide {
      transform: translateY(-100%);
      transition: transform 0.3s;
    }
    header #header-nav.show {
      transform: translateY(0%);
      transition: transform 0.3s;
    }
    header .header-nav-links {
      align-items: center;
      display: flex;
      height: 8.8rem;
      justify-content: center;
      list-style-type: none;
      margin: 4.4rem 9.6rem;
      padding: 0;
    }
    header .header-nav-links li {
      line-height: 1;
    }
      header .header-nav-links li a {
        color: #000;
        font-family: var(--heading-font);
        font-size: 2.4rem;
        line-height: 1;
        margin: 0.2rem 0.8rem;
        padding: 0.2rem 0.8rem;
      }
      header .header-nav-links li a:hover {
        color: #fff;
      }
  header h1 {
    align-self: end;
    grid-column: 2 / 8;
    grid-row: 2;
    margin-bottom: 5.6rem;
    text-align: center;
    text-decoration: underline;
  }

section {
  margin: 1.6rem 0;
}
/* !Layout */

/* Navigation */
#skip-to-content-link {
  background: var(--color-teal); 
  color: #000;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 3.2;
  padding: 0.8rem 3.2rem 1.2rem;
  position: absolute; left: 50%;
  transform: translateY(-100%);
  z-index: 2000;
} 
  #skip-to-content-link:focus {
    transform: translateY(0%);
    transition: transform 0.3s;
  }

#h-menu {
  cursor: pointer;
  grid-column: 7 / span 2;
  grid-row: 1;
  margin: 5.6rem 0 0 0;
  height: 4.8rem;
  width: 4.8rem;
  z-index: 1000;
}
  #h-menu #hm-bar1,
  #h-menu #hm-bar2,
  #h-menu #hm-bar3
  {
    background-color: var(--color-teal);
    height: 0.4rem;
    margin: 1.2rem 0; 
    width: 4.8rem;
  }
  #h-menu #hm-bar1.x {
    background-color: #fff;
    position: relative;
    top: 1.6rem;
    transform: rotate(-45deg);
    transition: transform 0.3s;
  }
  #h-menu #hm-bar2.x {
    background-color: #fff;
    transform: rotate(45deg);
    transition: transform 0.3s;
  }
  #h-menu #hm-bar3.x {
    background-color: #fff;
    opacity: 0.0;
    transition: transform 0.3s;
  }
/* !Navigation*/

/* Desktop Styles*/
@media only screen and (min-width: 768px) {
}
/* !Desktop Styles*/