/* Fonts */
@import url("https://fonts.googleapis.com/css?family=Dosis");

/* Variables */
:root {
    --CTA1: #ff5722;
    --CTA2: #333;
    --CTA3: #fff;

    --MenuColor: #000;
    --MenuFont: 'Dosis';
    --MenuSize: 1.2em;

    --DisplayColor: #fff;
    --DisplayFont: 'Dosis';
    --DisplaySize: 1.2em;

    --CopyColor: #fff;
    --CopyFont: 'Arial';
    --CopySize: 1.1em;
}

/* General CSS */
html { 
    background: url('myrtle_beach_brookgreen_gardens.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
    @media only screen and (max-width: 880px) {
        html {
            background-position: 37% 50%;
        }
    }

a { 
    text-decoration: none; 
    color: var(--CopyColor);
}

body {
    color: #fff;
    font-family: var(--DisplayFont), sans-serif;
    font-weight: 400;
    font-size: var(--CopySize);
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--DisplayColor);
    font-size: var(--DisplaySize);
    line-height: 1.1em;
    margin: 0 0 0.2em;
    padding: 0;
}

p {
    margin: 0 0 1.5em;
    padding: 0;
}

ul { list-style: none; }

/* Menu CSS */
#menu-wrapper {
    background: none;
    border: none;
    cursor: pointer;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
    position: relative;
    max-width: 100%;
    z-index: 999;
}

#menu-wrapper #hamburger-menu {
    background: var(--CTA1);
    border: 2px solid #fff;
    position: relative;
    width: 22px;
    height: 22px;
    margin: 10px;
    padding: 10px;
}

#menu-wrapper #hamburger-menu span {
    background-color: #fff;
    color: #fff;
    opacity: 1;
    display: block;
    width: 28px;
    height: 2px;
    border-radius: 10px;
    position: absolute;
    left: 7px;
    transform: rotate(0deg);
    transition: .4s ease-in-out;
}

#menu-wrapper #hamburger-menu span:nth-child(1) {
    top: 10px;
}
#menu-wrapper #hamburger-menu span:nth-child(2) {
    top: 19px;
}
#menu-wrapper #hamburger-menu span:nth-child(3) {
    top: 28px;
}
#menu-wrapper #hamburger-menu.open span:nth-child(1) {
    transform: translateY(10px) rotate(135deg);
}
#menu-wrapper #hamburger-menu.open span:nth-child(2) {
    opacity: 0;
    transform: translateX(-60px);
}
#menu-wrapper #hamburger-menu.open span:nth-child(3) {
    transform: translateY(-8px) rotate(-135deg);
}

#menu-container .menu-list .menu-submenu {
    padding-top: 20px;
    padding-bottom: 20px;
}

#menu-container .menu-list .menu-submenu a {
    color: var(--MenuColor);
}

#menu-container .menu-list {
    background: white;
    box-shadow: rgba(100,100,100,0.2) 6px 2px 10px;
    display: block;
    left: 0;
    margin: 0;
    max-width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    padding-left: 5%;
    position: absolute;
    top: -200%;
    width: 95%;
    z-index: 998;
}
    @media only screen and (max-width: 880px) {
        #menu-container .menu-list {
            margin: 75px 0 0;
            padding: 0;
            width: 100%;
        }
        #menu-container .menu-submenu.accordion-content.open {
            padding: 0 30px;
        }
    }

#menu-container .menu-list li.accordion-toggle, #menu-container .menu-list .menu-login {
    border-top: 1px solid #dbdcd2;
    font-size: var(--DisplaySize);
    padding: 20px;
    text-transform: uppercase;
}

#menu-container .menu-list li:first-of-type {
    border-top: 0;
}

.accordion-toggle, .accordion-content {
    cursor: pointer;
    font-size: var(--DisplaySize);
    letter-spacing: 1px;
    line-height: 2.5em;
    position: relative;
}

.accordion-content {
    display: none;
}

.accordion-content li a:hover, .accordion-content li button:focus {
    text-decoration: underline;
}

.accordion-toggle button:before, .accordion-toggle button:after {
    background-color: #5a5858;
    content: '';
    display: block;
    margin-top: -1px;
    position: absolute;
    top: 50%;
    right: 30px;
    width: 15px;
    height: 2px;
    transform-origin: 50% 50%;
    transition: all 0.3s ease-out;
}

.accordion-toggle button:before {
    opacity: 1;
    transform: rotate(-90deg);
    z-index: 2;
}

.accordion-toggle.active-tab {
    background: var(--CTA1);
    transition: all 0.3s ease;
}

.accordion-toggle button.active:before {
    background: #fff !important;
    transform: rotate(0deg);
}

.accordion-toggle button.active:after {
    background: #fff !important;
    opacity: 0;
    transform: rotate(180deg);
}

.accordion-toggle button.menu-link {
    background: none;
    border: none;
    font-family: inherit;
    font-size: 1.2em;
    font-weight: 600;
}

/* Copyright */
#copyright {
    font-family: var(--CopyFont); 
    font-size: 0.8em;
    position: absolute;
    bottom: 1em;
    right: 1.5em;
    z-index: 2;
}

/* Logo */
#mhdylogo {
    position: fixed;
    bottom: 3.5em; 
    right: 1.5em; 
    width: 10em; 
    z-index: 1;
}
    @media only screen and (max-width: 880px) {
        #mhdylogo {
            width: 33%;
        }
    }

/* Contact Form */
#my-form {
    color: var(--CopyColor); 
    display: block; 
    max-width: 40em;
}

#my-form input[type=text], #my-form input[type=email], #my-form select, #my-form textarea {
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    font-family: inherit;
    font-size: inherit;
    line-height: 1.2em;
    margin-top: 6px; 
    margin-bottom: 16px; 
    padding: 12px; 
    resize: vertical;
    width: 100%; 
}

#my-form button {    
    background-color: var(--CTA2);
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    padding: 12px 20px;
}

#my-form #my-form-status {
    color: var(--CTA1);
    font-weight: 600;
    line-height: 1.2em;
    padding: 10px;
}

#body-content {
    background-color: rgba(0, 0, 0, 0.8);
    margin: 10px;
    padding: 2em;
    position: relative;
    width: 50em; /* Optimal reading length is 50-60ch, or up to 75ch. */
    z-index: 3;
}

    @media only screen and (max-width: 880px) {
        #body-content {
            width: calc(100% - 70px);
        }
    }

#body-content a {
    color: var(--CTA3);
    text-decoration: underline;
}

.g-recaptcha {
    margin: 0 0 1em;
}

.rc-anchor-error-msg-container {
    left: 1em;
}

.postscript {
    color: #aaa;
    font-weight: normal;
}