/*
 * SITE STYLES 
 */
 :root {
  --color-60a: #ffffff;
  --color-60b: #dddddd;
  --color-60c: #cccccc;
  --color-30: #000000;
  --color-30b: #333333;
  --color-10: #FF5722;

  --font-body: 'Roboto', 'Arial Narrow', sans-serif;
  --font-display: 'Roboto', Arial, sans-serif;
  --font-data-display: 'Impact', sans-serif;

  --top-nav-height: 5.6rem;
  --section-pad: 10vh;
}

/* 
 * DEFAULTS
 */
html {
  color: var(--color-30);
  font-size: 62.5%; /* 1rem = 10px */
  margin: 0; padding: 0;
  min-width: 358px;
}

body {
  margin: 0; padding: 0;
  position: relative;
  width: 100%; height: 100%;
}

* {
  font-family: var(--font-body);
  font-size: 1.6rem; /* 16px equiv */
  line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-display);
  font-size: 2.4rem;
  font-style: normal;
  font-weight: normal;
  line-height: 1.2; 
  margin: 0;
  padding: 0;
}

section {
  background-color: var(--color-30b);
  color: var(--color-60a);
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(12, 1fr);
}
  @media only screen and (max-width: 768px) {
    section {
      grid-template-columns: none;
    }
    section#top-bar {
      grid-template-columns: repeat(4, 1fr);
    }
  }

p {
  margin: 0 0 2rem;
}

/* 
 * SITE STRUCTURE
 */ 

#skip-to-content-link {
    background: var(--color-30);
    color: var(--color-60a);
    font-weight: bold;
    height: 30px;
    padding: 8px;
    position: absolute; left: 50%;
    transform: translateY(-100%);
    transition: transform 0.3s;
    z-index: 20;
  }
  #skip-to-content-link:focus {
    transform: translateY(0%);
  }

/* Top Bar */ 
#top-bar {
  background-color: var(--color-30);
  color: var(--color-60a);
  position: fixed;
  width: 100%; height: var(--top-nav-height);
  z-index: 10;
}
  #top-bar #hamburger {
    background-color: #000;
    border: 0;
    cursor: pointer;
    display: block;
    margin: 0; padding: 0;
    width: var(--top-nav-height); height: var(--top-nav-height);
  }
    #hamburger div {
      background-color: var(--color-60a);
      margin: 8px auto;
      width: 32px; height: 2px; 
    }
      #hamburger div:first-child {
        margin-top: 0;
      }
      #hamburger div:last-child {
        margin-bottom: 0;
      }
  #top-bar #main-nav {
    background-color:var(--color-30);
    display: inline-block;
    margin: 0; padding: 0 4.8rem;
    position: absolute; top: var(--top-nav-height);
    width: 32rem; height: 100vh;
    z-index: 2;
  }
    #main-nav.show {
      left: 0;
      transition: left .4s;
    }
    #main-nav.hide {
      left: -48rem;
      transition: left .4s;
    }
    #main-nav h3 {
      color: var(--color-60c);
      font-size: 2.4rem;
      margin: 0; padding: 4.8rem 0 1.6rem;
      text-transform: uppercase;
    }
    #main-nav ul {
      display: block;
      list-style: none;
      margin: 0; padding: 0;
    }
    #main-nav li {
      display: block;
      margin: 0; padding: 0;
      position: relative;
    }
    #main-nav li a {
      color: inherit;
      display: block;
      line-height: 1.6rem;
      margin: 0.4rem 0; padding: 0.4rem 0;
    }
      #main-nav li a:focus:after,  
      #main-nav li a:hover:after {
        color: var(--color-10);
        content: "\00BB";
        display: inline-block;
        font-size: 2rem;
        position: absolute; top: 0.2rem; left: -1.6rem;
        text-decoration: none;
      }
      #main-nav li a span {
        color: var(--color-60c);
        display: inline-block;
        font-size: 1.2rem;
        margin: 0; padding: 0;
        opacity: 0.8;
        text-decoration: none;
        width: 100%; /* Needed in order to force the inline-block element to a new line. Text-Decoration:none will not work unless inline-block. Content white-space pre wrap doesn't work. */
      }
    #main-nav .nav-close {
      background-color: var(--color-30);
      border: none;
      cursor: pointer;
      color: var(--color-60a);
      display: inline-block;
      font-size: 2.4rem;
      font-weight: bold;
      margin: 0; padding: 0;
      position: absolute; top: 3.2rem; right: 2.4rem;
      width: 5.6rem; height: 5.6rem;
    }
    #main-nav .nav-close:hover, 
    #main-nav .nav-close:focus {
      background-color: var(--color-10);
    } 
  #top-bar #logo {
		display: flex;
		grid-column: 2 / span 2;
    width: 9rem;
    z-index: 1;
  }
    @media only screen and (max-width: 768px) {
      #top-bar #logo {
        margin: 0 auto;
      }
    }
  #top-bar #social {
		display: flex;
		grid-column: 11 / span 2;
    justify-content: flex-end;
	}
    #top-bar #social a {
      margin: 1rem 0.75rem;
    }
    #top-bar #social a:last-child {
      margin-right: 2rem;
    }
    @media only screen and (max-width: 768px) {
      #top-bar #social {
        grid-column: 4;
      }
    }


/* Footer */
#footer {
  background-color: var(--color-30b);
  color: var(--color-60c);
  display: flex;
  flex-wrap: wrap;
  padding: 1.6rem 0;
}
#footer #footer-links {
  flex-grow: 1;
  list-style: none;
  margin: 0 2.4rem; padding: 0;
  text-align: left;
}
  #footer-links li {
    display: inline;
  }
  #footer-links li:not(:last-child):after {
    content: " | ";
    margin: 0 1rem; padding: 0;
  }
  #footer-links li a {
    color: inherit;
  }
#footer #copyright {
  margin: 0 2.4rem; padding: 0;
  text-align: right;
}
@media only screen and (max-width: 768px) {
  #footer #footer-links, 
    #footer #copyright {
      text-align: center;
      width: 100%;
    }
}


/* 
 * PAGE STYLES
 */
#home #main {
  background-color: var(--color-30);
  color: var(--color-60a);
  grid-template-rows: 20vh auto auto minmax(var(--section-pad),auto);
  padding-top: var(--top-nav-height);
  position: relative;
  z-index: 1;
}
  #home #main::before {
    background-image: url(asset/bg_boats.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
    opacity:0.4;
    position:absolute; top:0; left:0;
    width:100%; height:100%;
    z-index:-1;
  }
  #feature-heading {
    color: var(--color-10);
    font-size: 3.2rem;
		grid-column: 8 / 11;
    grid-row: 2;
    line-height: 3.4rem;
    margin: 0 0 2.4rem;
  }
  #feature-published {
    align-self: end;
    color: var(--color-60a);
    display: block;
    font-size: 1.2rem;
    font-style: normal;
		grid-column: 8 / 12;
    grid-row: 1;
    line-height: 1.2rem;
    margin: 0;
  }
  #feature-summary {
		grid-column: 8 / 12;
    grid-row: 3;
    padding: 0 0 10vh;
  }
  #feature-links {
  }
    #feature-links a {
      color: inherit;
      margin: 0 1rem;
    }
    #feature-links a:nth-of-type(1) {
      margin-left: 0;
    }
  #feature-results {
    color: var(--color-30);
    display: flex;
		grid-column: 1 / span 7;
    grid-row: 3;
    justify-content: flex-end;
    list-style: none;
    margin: 0; padding: 0;
  }
    #feature-results li {
      background-color: var(--color-60a);
      border: 1rem solid #999999;
      border-radius: 50%;
      margin: 0 1rem;
      text-align: center;
      width: 8rem; height: 8rem;
    }
    #feature-results li:last-child {
      margin-right: 2rem;
    }
    #feature-results li span {
      color: var(--color-10);
      font-family: var(--font-data-display);
      line-height: 1;
      display: block;
      font-weight: 800;
      font-size: 2.4rem;
      margin: 2.2rem auto 0;
    }
  @media only screen and (max-width: 768px) {
    #main {
      text-align: center;
      grid-auto-rows: minmax(min-content, max-content);
    }
    #feature-heading {
      grid-column: 1/-1; 
      grid-row: 2;
      text-align: center;
    }
    #feature-published {
      grid-column: 1/-1; 
      grid-row: 1;
    }
    #feature-summary {
      grid-column: 1/-1; 
      grid-row: 4;
      margin: 0 2.4rem;
    }
    #feature-results {
      grid-column: 1/-1; 
      grid-row: 3; 
      justify-content: space-evenly;
    }
    #feature-results li,
    #feature-results li:last-child {
      margin: 0;
    }
  }

#home #about-site {
  background-color: var(--color-30);
  color: var(--color-60a);
  padding: var(--section-pad) 0;
}
  #about-site h2 {
    grid-column: 2 / 4;
    text-transform: uppercase;
  }
  #about-site article {
  /*  column-count: 2;*/
    grid-column: 4 / 12;
  }
  @media only screen and (max-width: 768px) {
    #about-site {
      grid-column: 1/-1;
    }
    #about-site h2,
    #about-site article {
      align-self: center;
      column-count: 1;
      grid-column: 1/-1;
      grid-row: auto;
      margin: 0 2.4rem;
      text-align: center;
    }
  }

#home #about-me {
  grid-template-rows: unset;
  padding: var(--section-pad) 0 0;
}
#about-me h2 {
  grid-column: 2 / 4;
  text-transform: uppercase;
}
#about-me article {
  column-count: 2;
  grid-column: 4 / 12;
}
  @media only screen and (max-width: 768px) {
    #about-me h2, 
    #about-me article {
      column-count: 1;
      grid-column: 1/-1;
      margin: 0 2.4rem;
      text-align: center;
    }
  }

  /* Homepage Contact Form */
  #contact-me {
    padding: var(--section-pad) 0;
  }
  #contact-me h2 {
    grid-column: 2 / 4;
    grid-row: 1;
    position: relative; top: 2.4rem;
    text-transform: uppercase;
  }
  #contact-me form {
    display: block;
    grid-column: 4 / 8;
    grid-row: 1 / span 2;
    position: relative;
  }
  #contact-me form label {
    display: block;
    margin: 0; padding: 0 0 1rem;
  }
  #contact-me form label span {
    display: block;
    font-size: 1.2rem;
  }
  #contact-me form input[type=email] {
    border: 1px #000 solid;
    border-radius: 0.4rem;
    display: block;
    font-size: 1.6rem;
    padding: 1rem;
    width: 38rem;
  }
  #contact-me form textarea {
    border: 1px #000 solid;
    border-radius: 0.4rem;
    display: block;
    font-size: 1.6rem;
    padding: 1rem;
    width: 38rem; height: 8rem;
  }
  #contact-me form input[type=submit] {
    background-color: var(--color-10);
    border: 1px #fff solid;
    border-radius: 0.4rem;
    color: var(--color-60a);
    cursor: pointer;
    display: block;
    font-size: 2.4rem;
    margin: 1rem 0; padding: 1rem 2rem;
  }
    #contact-me form #my-form-button.fade-In {
      animation: fadeIn ease-in 10s;
      -webkit-animation: fadeIn ease-in 10s;
      -moz-animation: fadeIn ease-in 10s;
      -o-animation: fadeIn ease-in 10s;
      -ms-animation: fadeIn ease-in 10s;
    }
      @keyframes fadeIn {
        0% {opacity:0;}
        100% {opacity:1;}
      }
      
      @-moz-keyframes fadeIn {
        0% {opacity:0;}
        100% {opacity:1;}
      }
      
      @-webkit-keyframes fadeIn {
        0% {opacity:0;}
        100% {opacity:1;}
      }
      
      @-o-keyframes fadeIn {
        0% {opacity:0;}
        100% {opacity:1;}
      }
      
      @-ms-keyframes fadeIn {
        0% {opacity:0;}
        100% {opacity:1;}
      }
  #contact-me form #my-form-status {
    font-size: 2.4rem;
  }
  @media only screen and (max-width: 768px) {
    #contact-me {
      justify-content: center;
      text-align: center;
    }
    #contact-me h2,
    #contact-me form {
      grid-column: 1/-1;
      grid-row: auto;
      margin: 0 auto;
      top: 0;
    }
    #contact-me form input[type=email],
    #contact-me form input[type=submit], 
    #contact-me form label span,
    #contact-me form p,
    #contact-me form textarea {
      margin: 0 auto;
      width: 32rem; 
    }
  }