:root {
/* Color Palette */
  --pink: pink;
  --purple: lavender; 
  --blue: lightblue;

  --txt-color: #000;

  --slide-color-home: blue;
  --slide-color-about: red;
  --slide-color-project: green;   
}


body {
  height: 100svh;
  margin: 0;
  padding: 0;
  width: 100svh;
}

section {
  align-items: center;
  background-color: var(--bg-color);
  color: var(--txt-color);
  display: flex;
  height: 100svh;
  width: 100svw;
  place-content: center;

  & a { color: var(--txt-color); }
  & h1 {
    animation: revealText 1.5s ease-out forwards;
    clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);   
    font-size: 3rem;
    z-index: 2;
  }
  &::after,
  &::before {
    content: "";
    height: 100%;
    inset: 0;
    position: absolute;
    transition: width 0.5s ease-in-out;
    width: 100%;
  }
  &::after {
    /* Page Wipe */
    display: none;
    background-color: var(--slide-color);
    z-index: 3;
  }
  &::before {
    /* Page Reveal - on load */
    animation-delay: 1.5s;
    animation-name: shrinkRightToLeft;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;

    background-color: var(--slide-color);
    z-index: 1;
  }
  &.page-exit::after {
    /* Page Reveal - on exit */
    animation-name: expandLeftToRight;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    display: flex;
  }
}

/* Set page Wipe/Reveal Colors, set here for "reveal" and in the JS for "wipe" */
.page-home {
  --slide-color: var(--slide-color-home);
  --bg-color: var(--pink);
}
.page-about {
  --slide-color: var(--slide-color-about);
  --bg-color: var(--purple);
}
.page-project {
  --slide-color: var(--slide-color-project);  
  --bg-color: var(--blue);
}

/* Reveal Page */
@keyframes shrinkRightToLeft {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}

/* Wipe page */
@keyframes expandLeftToRight {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

/* Text Reveal */
@keyframes revealText {
  0% {
    clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
  }
  100% {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  }
}

/* 
 * Z-Levels
 * 3 - Page Wipe
 * 2 - Heading
 * 1 - Page Reveal
 */

/*
 * Effects: 
 * Onload: Show Page Reveal & Heading
 * Onexit: Show Page Wipe
 * The destination page determines the color of the wipe/reveal
 */